<div class="d-flex align-items-center justify-content-between mb-4">
	<h1 mat-dialog-title class="mb-0">{{ data.id ? 'Editar Endereço' : 'Cadastrar Endereço'}}</h1>
	<button mat-icon-button (click)="dialogRef.close('closed')">
		<mat-icon>close</mat-icon>
	</button>
</div>

<form [formGroup]="form">
	<div class="row">
		<div class="col-md-4">
			<mat-form-field>
				<mat-label>CEP</mat-label>
				<input matInput formControlName="cep" mask="00000-000" [errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe seu CEP
				</mat-error>
			</mat-form-field>
		</div>
		<div class="col-md-8">
			<mat-form-field>
				<mat-label>Logradouro</mat-label>
				<input matInput formControlName="logradouro" [errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe seu Logradouro
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<mat-form-field>
				<mat-label>Bairro</mat-label>
				<input matInput formControlName="bairro" [errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe seu Bairro
				</mat-error>
			</mat-form-field>
		</div>
		<div class="col-md-6">
			<mat-form-field>
				<mat-label>Localidade</mat-label>
				<input matInput formControlName="localidade" [errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe seu Localidade
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>UF</mat-label>
			<mat-select formControlName="uf" [errorStateMatcher]="_formValidation" required>
				<mat-option *ngFor="let state of states" [value]="state.id">
					{{state.name}}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="form.touched && form.invalid">
				Informe seu UF
			</mat-error>
		</mat-form-field>
	</div>
	<div class="d-flex justify-content-end">
		<button mat-raised-button (click)="saveAddress()" color="primary" [disabled]="form.invalid">Salvar</button>
	</div>
</form>