// & concantenação
// > descer pro primeiro filho

.menu-profile {
    display: flex;
    align-items: center;
}
.btn-logout {
    color: red;
    > mat-icon {
        color: red;
    }

    &:disabled {
        opacity: 0.2;
    }
}

.logo {
    border: white solid 2px;
    border-radius: 100%;
    background: white;
    width: 74px;
}
