<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="logo" src="../../../assets/pngwing.com.png" alt="">
    <button mat-icon-button class="me-auto" aria-label="Example icon-button with menu icon" (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>lock</mat-icon>
        Alterar Senha
      </button>
      <button mat-menu-item class="btn-logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>