<div class="d-flex align-items-center justify-content-between mb-4">
	<h1 mat-dialog-title class="mb-0">{{ data ? 'Editar Produto' : 'Cadastrar Produto'}}</h1>
	<button mat-icon-button (click)="dialogRef.close()">
		<mat-icon>close</mat-icon>
	</button>
</div>

<form [formGroup]="form">
	<div class="row img-div justify-content-center align-items-center">
		<mat-form-field hidden>
			<input matInput formControlName="image" type="text">
		</mat-form-field>
		<img [src]="image.value">
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Imagem</mat-label>
			<ngx-mat-file-input formControlName="imageInput" [errorStateMatcher]="_formValidation" accept="image/*"
				[required]="!image.value">
				<mat-icon ngxMatFileInputIcon>image</mat-icon>
			</ngx-mat-file-input>
			<mat-error *ngIf="form.touched && form.invalid">
				Adicione uma imagem
			</mat-error>
		</mat-form-field>
	</div>
	<div class="row">
		<div class="col-6">
			<mat-form-field>
				<mat-label>Nome</mat-label>
				<input matInput formControlName="name" [errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe o Nome do Produto
				</mat-error>
			</mat-form-field>
		</div>
		<div class="col-6">
			<mat-form-field>
				<mat-label>Categoria</mat-label>
				<mat-select formControlName="category" [errorStateMatcher]="_formValidation" required>
					<mat-option *ngFor="let cat of categories" [value]="cat.id">
						{{cat.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe a Categoria do Produto
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<mat-form-field>
				<mat-label>Qtd. em Estoque</mat-label>
				<input matInput formControlName="amount" mask="separator" thousandSeparator="."
					[errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe a Qtd. em Estoque
				</mat-error>
			</mat-form-field>
		</div>
		<div class="col-4">
			<mat-form-field>
				<mat-label>Preço de Custo</mat-label>
				<input matInput formControlName="cost_price" prefix="R$ " mask="separator.2" thousandSeparator="."
					[errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe o Preço de Custo
				</mat-error>
			</mat-form-field>
		</div>
		<div class="col-4">
			<mat-form-field>
				<mat-label>Preço de Venda</mat-label>
				<input matInput formControlName="sale_price" prefix="R$ " mask="separator.2" thousandSeparator="."
					[errorStateMatcher]="_formValidation" required>
				<mat-error *ngIf="form.touched && form.invalid">
					Informe o Preço de Venda
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<mat-form-field>
			<mat-label>Descrição</mat-label>
			<textarea matInput formControlName="description"></textarea>
		</mat-form-field>
	</div>
	<div class="row">
		<mat-slide-toggle #status formControlName="active" required>
			<ng-container *ngIf="status.checked; else elseTemplate">
				<span class="text-success">Ativo</span>
			</ng-container>
			<ng-template #elseTemplate>
				<span class="text-danger">Inativo</span>
			</ng-template>
		</mat-slide-toggle>
	</div>
	<div class="d-flex justify-content-end">
		<button mat-raised-button (click)="saveProduct()" color="primary" [disabled]="form.invalid">Salvar</button>
	</div>
</form>