<div class="d-flex flex-wrap">
	<ng-container *ngFor="let product of products; let i = index">
		<mat-card class="m-2 flex-fill prod-card">
			<div class="d-flex justify-content-center">
				<img mat-card-image class="prod-img" [src]="product.image">
			</div>
			<mat-card-title class="d-flex justify-content-between">
				<h1>{{ product.name }}</h1>
			</mat-card-title>
			<mat-card-content class="d-flex justify-content-between">
				<p class="mb-0">{{ product.description }}</p>
				<p class="text-danger mb-0">{{ product.salePrice | currency: 'BRL' }}</p>
			</mat-card-content>
			<mat-card-actions>
				<form [formGroup]="forms[i]">
					<div class="row">
						<div class="col-9">
							<mat-form-field>
								<input matInput formControlName="amount" mask="0*" required>
								<mat-label>Quantidade</mat-label>
							</mat-form-field>
						</div>
						<div class="col-1 d-flex align-items-center mat-form-field-wrapper">
							<div matTooltip="Adicionar ao carrinho" matTooltipPosition="above">
								<button mat-mini-fab matSuffix color="primary" (click)="addToCart(product, i)"
									[disabled]="forms[i].invalid">
									<mat-icon>add_shopping_cart</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</form>
			</mat-card-actions>
		</mat-card>
	</ng-container>
</div>

<button mat-mini-fab class="button-add" color="warn" (click)="openDialog()">
	<mat-icon>shopping_cart</mat-icon>
</button>