<div class="row gy-3">
	<div class="col-4">
		<app-dashboard-card title="Número total de Vendas" icon="receipt_long" [value]="numSales"></app-dashboard-card>
	</div>
	<div class="col-4">
		<app-dashboard-card title="Estoque total de Produtos" icon="widgets" [value]="totalStock"></app-dashboard-card>
	</div>
	<div class="col-4">
		<app-dashboard-card title="Número de Filiais" icon="store" [value]="numBranches"></app-dashboard-card>
	</div>

	<div class="col-12">
		<app-dashboard-chart-sales></app-dashboard-chart-sales>
	</div>

	<div class="col-12">
		<mat-card>
			<div class="row">
				<div class="col-4">
					<h2 class="ms-3">Categorias</h2>
					<div class="list-cards">
						<mat-card class="my-2 category-card" *ngFor="let item of categoryCards" [ngClass]="{ active: item.active }"
							(click)="changeCategory(item)">
							<h4 class="mb-1">{{item.name}}</h4>
							<mat-card-content>
								<div class="d-flex justify-content-start align-items-end">
									<h5 class="m-0">Quantidade de produtos:</h5>
									<label class="m-0 ms-2 text-primary fw-bold">{{item.numProducts}}</label>
								</div>
								<div class="d-flex justify-content-start">
									<h5 class="m-0">Total de unidades em estoque:</h5>
									<label class="m-0 ms-2 text-primary fw-bold">{{item.stockAmount}}</label>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>

				<div class="col-8">
					<h2 class="ms-3">Produtos por Categoria</h2>
					<app-dashboard-chart-products [categoryEvent]="categoryEvent" [productsEvent]="productsEvent">
					</app-dashboard-chart-products>
				</div>
			</div>
		</mat-card>
	</div>
</div>