<form [formGroup]="formFilter">
	<div class="row">
		<div class="col-3">
			<mat-form-field appearance="fill">
				<mat-label>Filtro</mat-label>
				<input matInput formControlName="text">
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field appearance="fill">
				<mat-label>Ativo</mat-label>
				<mat-select formControlName="status">
					<option [ngValue]="null" disabled selected hidden>Todos</option>
					<mat-option *ngFor="let stat of status" [value]="stat.id">
						{{stat.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field appearance="fill">
				<mat-label>Categoria</mat-label>
				<mat-select formControlName="category">
					<mat-option *ngFor="let cat of categories" [value]="cat.id">
						{{cat.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="d-flex col-1 mat-form-field-wrapper align-items-center">
			<button mat-mini-fab color="primary" (click)="applyFilter()">
				<mat-icon>filter_alt</mat-icon>
			</button>
		</div>
	</div>
</form>

<mat-card>
	<table mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
			<td mat-cell *matCellDef="let row"> {{row.name}}</td>
		</ng-container>

		<ng-container matColumnDef="category">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
			<td mat-cell *matCellDef="let row"> {{row.category}}</td>
		</ng-container>

		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
			<td mat-cell *matCellDef="let row"> {{row.description}}</td>
		</ng-container>

		<ng-container matColumnDef="costPrice">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Preço de Custo </th>
			<td mat-cell *matCellDef="let row"> {{row.costPrice | currency : 'BRL'}}</td>
		</ng-container>

		<ng-container matColumnDef="salePrice">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Preço de Venda </th>
			<td mat-cell *matCellDef="let row"> {{row.salePrice | currency : 'BRL'}}</td>
		</ng-container>

		<ng-container matColumnDef="stockAmount">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
			<td mat-cell *matCellDef="let row"> {{row.stockAmount}}</td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
			<td mat-cell *matCellDef="let row">
				<ng-container *ngIf="row.status; else inactive">
					<mat-icon class="text-success">done</mat-icon>
				</ng-container>
				<ng-template #inactive>
					<mat-icon class="text-danger">close</mat-icon>
				</ng-template>
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
					<mat-icon>delete</mat-icon>
				</button>
				<button mat-icon-button color="primary" (click)="openDialog(row.id)">
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">
				Nenhum dado encontrado com o filtro especificado!
			</td>
		</tr>
	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>

<button mat-mini-fab class="button-add" color="primary" (click)="openDialog()">
	<mat-icon>add</mat-icon>
</button>