.img-div {
	// background-color: lightgray;
	margin-left: 0px;
	margin-right: 0px;
	// border-radius: 10px;
	margin-bottom: 1.34375em;
	> img {
		max-height: 120px;
		width: auto;
		// background-color: lightgray;
	}
}
